@import "../../../Globlas.scss";

.Contents {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    overflow: hidden;
    position: relative;

    .type_wrap{
        font-size: 30px;
    }
}

